{
  "presets": [
    "babel-preset-expo"
  ],
  "plugins": [
    "expo-router/babel",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./~",
          "@": "./"
        }
      }
    ]
  ]
}